.cartphoto{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 20%, lightblue 80%);
    display:block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}



.shopping-cart{
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.cart-items + .cart-items{
    padding: 2% 0;
}